body{
    font-family: sans-serif;
    padding: 5px;
    align-content: center;

}

.heading{
    padding: 5px;
    text-align: center;
    color: coral;
    background-color: aliceblue;
    border-radius: 10px;
    border-style: solid;
   
}

.title{
    margin: 10px;
    font-size: 15px;
    text-align: right;
    padding-right: 70px;
    color: brown;
    border-left: 15px;
    border-left-style: groove;
    border-left-color: darkgoldenrod;
    background-color: cornsilk;
}

.t2{
    align-content: center;
    text-align: center;
    color: deepskyblue;
}
